html {
  font-size: 62.5%;
}

html *,
html *:before,
html *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-height: 100vh;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  color: #ffffff;
  background-color: #fe6153;
  padding: 1.5rem 4rem;
  font-size: 1.3rem;
  font-family: 'averta-bold';
  display: block;
  width: 17rem;
  margin: 4rem 0;
}

img {
  height: 100%;
  width: auto;
  min-height: 100%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
}

.fixed {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.layer-back {
  z-index: 0;
}

.layer-front {
  z-index: 1000;
}

.red {
  color: #fe6153;
}

.brown {
  color: #362928;
}

.hidden {
  display: none;
}

p,
span {
  font-family: 'averta-regular';
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: 3.6rem;
  color: white;
}

h1,
h2 {
  font-family: 'averta-bold';
  font-size: 7rem;
  letter-spacing: 0;
  line-height: 8rem;
}

.hline {
  width: 10rem;
  height: 1px;
  background-color: #ffffff;
  margin-top: 4.1rem;
  margin-bottom: 3.2rem;
}

.font-vh {
  font-size: calc(3rem + 10vh);
}

.waves-wrapper {
  position: absolute;
  min-height: 20rem;
  overflow: hidden;
}

.waves {
  position: absolute;
  z-index: -1;
}

.waves img {
  width: 100%;
}

.waves.waves_small {
  width: 30rem;
}

.waves.waves_large {
  min-width: 1440px;
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

section {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  z-index: 500;
}

.slide-index-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.slide-index-box > .content {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
  width: 300px;
  background-color: #362928;
  color: white;
  padding: 30px;
}

.slide-index-box > .content .icon-small {
  width: 20px;
  height: 20px;
}

.slide-index-box > .content .icon-big {
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 100px;
  height: 100px;
  opacity: 0.2;
}

.slide-index-box > .content p {
  font-size: 1.2rem;
}

.slide-index-box > .content span {
  font-family: 'averta-semibold';
  font-size: 1.6rem;
  color: #fe6153;
}

.slide-index-box > .content .slide-num {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 1.2rem;
  opacity: 0.6;
}

.slide-index-box > .content.red {
  background-color: #fe6153;
}

.slide-index-box > .content.red span {
  color: #362928;
}

.slide-index-box.portugal .icon-small,
.slide-index-box.portugal .icon-big {
  background: url(../img/box_logo_portugal.svg) no-repeat;
}

.slide-index-box.fiamma .icon-small,
.slide-index-box.fiamma .icon-big {
  background: url(../img/box_logo_fiamma.svg) no-repeat;
}

.vertical-text-wrapper {
  height: 100%;
  margin-left: 5rem;
  padding: 2rem 0;
}

.vertical-text-wrapper .big-date-wrapper {
  height: 100%;
}

.link-logo-fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 150px;
  height: 50px;
  padding: 0.75rem;
  z-index: 900;
  text-align: center;
  cursor: pointer;
}

.link-logo-fixed svg {
  width: 60%;
}

header {
  width: 100%;
  min-height: 107px;
  background-color: #362928;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #362928;
  min-width: 100vw;
  overflow-x: hidden;
  z-index: 900;
}

.home > .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: auto;
  height: 80vh;
  padding-left: 3rem;
  padding-right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.home > .content h1 {
  color: #fe6153;
  width: 45.2rem;
}

.home > .content p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  max-width: 453px;
}

.home > .content .waves {
  top: 52%;
  left: -5rem;
}

.home .waves {
  top: 45%;
  right: -11rem;
}

.home > .img-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 80vh;
}

@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  33% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
}

@keyframes slideRight {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  33% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
}

.home .scroll-box-wrapper {
  -ms-flex-preferred-size: 90px;
      flex-basis: 90px;
}

.home .scroll-box-wrapper span {
  display: inline-block;
  font-size: 12px;
  -webkit-animation: slideRight 1.5s ease-out infinite;
          animation: slideRight 1.5s ease-out infinite;
}

.home .scroll-box-wrapper .scroll-indicator {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  height: 1px;
  width: calc(100% + 30px);
  background-color: #ffffff;
}

.home .scroll-box-wrapper .scroll-indicator:before {
  content: '';
  background-color: #fe6153;
  width: 150px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
}

.slide1 {
  background-image: url(../img/slide1/Nelson_Serra@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-width: 100vw;
}

.slide2 {
  background-color: #362928;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 101vw;
  overflow: hidden;
}

.slide2 > .content {
  width: 53.4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 5rem;
}

.slide2 > .content p,
.slide2 > .content span {
  font-size: 4rem;
  line-height: 6.2rem;
}

.slide2 > .content span {
  color: #fe6153;
}

.slide2 > .img-wrapper {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  padding-right: 10rem;
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%;
  margin-left: -16rem;
}

.slide2 > .img-wrapper img {
  height: 77vh;
}

.slide2 .numbers {
  position: absolute;
  bottom: 16vh;
  right: 30px;
  z-index: -1;
  height: 82vh;
}

.slide2 .waves-wrapper {
  top: 50%;
  left: 0;
  min-width: 44%;
}

.slide3 {
  background-color: #f0f0f0;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.slide3 .lines-bg {
  position: absolute;
  left: 400px;
  top: 0;
  height: 100%;
  z-index: -1;
}

.slide3 > .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 80vh;
  padding-left: 35rem;
  padding-right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide3 > .content h2 {
  width: 58rem;
}

.slide3 > .content .hline {
  background-color: #362928;
}

.slide3 > .content p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  max-width: 53rem;
}

.slide3 .map {
  display: inline-block;
  padding-left: 35rem;
  height: 100%;
  width: auto;
  background-color: #f0f0f0;
}

.slide3 .documents {
  min-width: 100vw;
  height: 100%;
  background-color: #fe6153;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide3 .documents .article {
  height: 100vh;
  -webkit-transition: -webkit-transform 50ms ease-in-out;
  transition: -webkit-transform 50ms ease-in-out;
  transition: transform 50ms ease-in-out;
  transition: transform 50ms ease-in-out, -webkit-transform 50ms ease-in-out;
}

.slide3 .documents .article:not(:first-child) {
  margin-left: -10rem;
}

.slide3 .documents .one {
  height: 40vh;
}

.slide4 {
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fe6153;
}

.slide4 > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 30rem;
}

.slide4 > .content p {
  width: 35rem;
}

.slide4 h2 {
  color: #ffffff;
  width: 41rem;
  visibility: hidden;
}

.slide4 .big-date {
  color: #ffffff;
}

.slide4 .logo {
  margin-left: -0.75rem;
  height: 150px;
}

.slide5 {
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #362928;
}

.slide5 .video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.slide5 .video-wrapper video {
  height: 100%;
  width: 177.77777778vh;
  min-width: 100%;
  opacity: 0.5;
}

.slide5 > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 65rem;
}

.slide5 > .content p {
  width: 35rem;
}

.slide5 h2 {
  color: #fe6153;
  width: 41rem;
}

.slide5 .logo {
  margin-left: -0.75rem;
  height: 150px;
}

.slide6 {
  background-color: white;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide6 .logo {
  width: 50rem;
  margin: 0 15rem;
}

.slide6 .logo img {
  width: 100%;
}

.slide6 .img-wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.slide6 > .content {
  height: 100%;
  width: 135vh;
  position: relative;
  overflow: hidden;
}

.slide6 > .content .text-wrapper {
  position: absolute;
  top: 35%;
  right: 0;
  width: 44rem;
  padding-right: 5rem;
}

.slide6 > .content span {
  font-size: 10rem;
}

.slide6 > .content .hline {
  background-color: #fe6153;
  margin-bottom: 1.5rem;
}

.slide6 > .content p {
  font-size: 4rem;
  line-height: 6rem;
  font-family: 'averta-bold';
}

@-webkit-keyframes rotate360 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.slide6 .stars {
  position: absolute;
  top: 50%;
  left: 60rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100vh;
}

.slide6 .stars img {
  -webkit-animation: rotate360 20s infinite linear;
          animation: rotate360 20s infinite linear;
}

.slide6 .slide-index-box .content {
  margin-left: 800px;
}

.slide7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f0f0f0;
  z-index: 600;
}

.slide7 > .content {
  height: 80%;
  margin: auto 10rem 0 20rem;
  position: relative;
}

.slide7 > .content .img-wrapper {
  position: absolute;
  top: -5.5rem;
  left: -3.8rem;
  z-index: -1;
  height: 11rem;
}

.slide7 > .content h2 {
  width: 40rem;
  line-height: 7rem;
}

.slide7 > .content p {
  width: 35rem;
  margin: 3rem 0 6rem 7rem;
}

.slide7 .btn {
  margin-left: 7rem;
}

.slide7 .machines-wrapper {
  font-family: 'averta-regular';
  margin: auto 0 auto 10rem;
  padding-right: 480px;
  background-image: url(https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/machines-bg.png);
  background-repeat: no-repeat;
  background-position: center right;
  -webkit-transition: background-image 800ms ease-in-out;
  transition: background-image 800ms ease-in-out;
}

.slide7 .machines-wrapper.astrolab {
  background-image: url(https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/astrolab-side.png) !important;
}

.slide7 .machines-wrapper.caravel {
  background-image: url(https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/caravel-side.png) !important;
}

.slide7 .machines-wrapper.vela {
  background-image: url(https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/vela-side.png) !important;
}

.slide7 .machines-wrapper.marina {
  background-image: url(https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/marina-side.png) !important;
}

.slide7 .machines-wrapper.quadrant {
  background-image: url(https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/quadrant-side.png) !important;
}

.slide7 .machines-wrapper.compass {
  background-image: url(https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/compass-side.png) !important;
}

.slide7 .machines-selector {
  width: 400px;
  grid-gap: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.slide7 .machines-selector .machine {
  grid-column: span 4;
  text-align: center;
  padding: 50px 0 40px;
  text-decoration: none;
  outline: none;
  width: 200px;
  overflow: hidden;
}

.slide7 .machines-selector .machine:hover {
  background-color: var(--white);
  -webkit-box-shadow: 0 30px 30px -15px rgba(255, 94, 80, 0.15);
          box-shadow: 0 30px 30px -15px rgba(255, 94, 80, 0.15);
}

.slide7 .machines-selector .machine .icon {
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-image 100ms ease-in-out;
  transition: background-image 100ms ease-in-out;
}

.slide7 .machines-selector .machine.astrolab .icon {
  background-image: url("../img/slide7/astrolab@2x.png");
}

.slide7 .machines-selector .machine.vela .icon {
  background-image: url("../img/slide7/vela@2x.png");
}

.slide7 .machines-selector .machine.compass .icon {
  background-image: url("../img/slide7/compass@2x.png");
}

.slide7 .machines-selector .machine.quadrant .icon {
  background-image: url("../img/slide7/quadrant@2x.png");
}

.slide7 .machines-selector .machine.caravel .icon {
  background-image: url("../img/slide7/caravel@2x.png");
}

.slide7 .machines-selector .machine.marina .icon {
  background-image: url("../img/slide7/marina@2x.png");
}

.slide7 .machines-selector .machine.astrolab:hover .icon {
  background-image: url("https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/astrolab@2x.png");
}

.slide7 .machines-selector .machine.vela:hover .icon {
  background-image: url("https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/vela@2x.png");
}

.slide7 .machines-selector .machine.compass:hover .icon {
  background-image: url("https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/compass@2x.png");
}

.slide7 .machines-selector .machine.quadrant:hover .icon {
  background-image: url("https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/quadrant@2x.png");
}

.slide7 .machines-selector .machine.caravel:hover .icon {
  background-image: url("https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/caravel@2x.png");
}

.slide7 .machines-selector .machine.marina:hover .icon {
  background-image: url("https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/marina@2x.png");
}

.slide7 .machines-selector .machine .name {
  font-size: 22px;
  font-family: var(--bold);
  color: var(--black);
  margin-top: 18px;
}

.slide7 .machines-selector .machine .version {
  margin-top: 20px;
  color: var(--grey-dark);
  font-size: 13px;
  opacity: 0.5;
}

.slide8 {
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -134rem;
}

.slide8 .star-wrapper {
  min-width: 100vw;
}

.slide8 .star {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100vh;
  margin: auto;
  position: relative;
  z-index: 2;
  -webkit-transform: translate(-135%, 0);
          transform: translate(-135%, 0);
  -webkit-transition: rotate 150ms;
  transition: rotate 150ms;
}

.slide8 .small-star-wrapper {
  width: 40rem;
}

.slide8 .small-star {
  height: 100vh;
  position: absolute;
}

.slide8 .small-star.left {
  left: 0;
  top: 50%;
  -webkit-transform: translate(-18%, -50%);
          transform: translate(-18%, -50%);
}

.slide8 .small-star.right {
  -webkit-transform: translate(-16%, 0);
          transform: translate(-16%, 0);
}

.slide8 .animation-wrapper {
  height: 100%;
  max-height: 84rem;
  margin: auto 0;
  width: 120rem;
  z-index: +1;
  padding: 0 3rem;
  position: relative;
}

.slide8 .animation-wrapper > .row {
  height: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide8 .animation-wrapper span {
  font-family: 'averta-bold';
}

.slide8 .top-row {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slide8 .top-row span {
  font-size: 40rem;
  line-height: 40rem;
}

.slide8 .top-row .img-wrapper {
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
  right: 7rem;
  bottom: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.slide8 .bottom-row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slide8 .bottom-row span {
  font-size: 20rem;
  line-height: 20vh;
  margin-bottom: 10vh;
}

.slide8 .bottom-row .img-wrapper {
  -webkit-transform: translate(0, -10%);
          transform: translate(0, -10%);
  left: 0;
}

.slide8 .img-wrapper {
  position: absolute;
  top: 0;
  height: auto;
  max-height: 40vh;
  width: 45%;
  -webkit-transition: trasform 100ms ease-in-out;
  transition: trasform 100ms ease-in-out;
}

.slide8 .img-wrapper img {
  height: auto;
}

.slide9 {
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100vw;
  left: -107rem;
}

.slide9 > .content {
  height: 80%;
  margin-top: auto;
  margin-left: 10rem;
}

.slide9 h2 {
  width: 43rem;
}

.slide9 .hline {
  background-color: #362928;
}

.slide9 .spacer {
  width: 10rem;
}

.slide9 .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide9 .text-wrapper > p {
  width: 35rem;
}

.slide9 .big-letters {
  height: 100%;
  width: 240vh;
}

.slide9 .big-letters p,
.slide9 .big-letters span {
  font-size: 150vh;
  line-height: 90vh;
  font-family: 'averta-bold';
}

.slide10,
.slide11 {
  background-color: #362928;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100vw;
}

.slide10 .img-wrapper,
.slide11 .img-wrapper {
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 70vh;
}

.slide10 .numbers,
.slide11 .numbers {
  width: 35vh;
  height: 100%;
  position: relative;
  margin-left: 10rem;
  padding: 1rem 0 3rem 0;
}

.slide10 > .content,
.slide11 > .content {
  width: 45rem;
  margin: 14rem 30rem 0 5rem;
}

.slide10 > .content p,
.slide10 > .content span,
.slide11 > .content p,
.slide11 > .content span {
  font-size: 4rem;
  line-height: 6rem;
}

.slide10 .waves-wrapper {
  top: 50%;
  left: 0;
  min-width: 40%;
}

.slide11 .waves-wrapper {
  top: 50%;
  left: -20%;
  min-width: 55%;
}

.slide12 {
  background-color: #362928;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  left: -2800px;
}

.slide12 .slide-index-box {
  margin-left: 300px;
}

.slide12 .img-wrapper {
  height: 100%;
}

.slide12 .cross {
  width: 7vh;
  margin-left: -5rem;
  z-index: 2;
}

.slide12 .map-wrapper {
  position: relative;
  width: 310rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide12 .map {
  height: 100%;
  width: auto;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.slide12 .map img {
  width: 100%;
  height: 100%;
}

.slide12 .text-content {
  position: absolute;
  left: 40rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 100%;
  width: 100%;
  z-index: 2;
  max-height: 768px;
  margin: auto 0;
}

.slide12 .text-content h2 {
  margin: 18rem 0 5rem 10rem;
  font-size: 8rem;
}

.slide12 .text-content > div {
  position: absolute;
}

.slide12 .text-content p {
  display: inline-block;
  line-height: 3.6rem;
}

.slide12 .text-content .date {
  position: absolute;
  top: 1rem;
  left: -10rem;
}

.slide12 .text-content .year-2002 {
  top: 38%;
  width: 30rem;
}

.slide12 .text-content .year-2003 {
  bottom: 24%;
  left: 38%;
  width: 26rem;
}

.slide12 .text-content .year-2003-2 {
  bottom: 23%;
  left: 56%;
  width: 26rem;
}

.slide12 .text-content .year-2003-2 .sign {
  position: absolute;
  top: -20rem;
  left: -2.5rem;
}

.slide12 .text-content .year-2013 {
  top: 24%;
  left: 80%;
  width: 26rem;
}

.slide12 .boat-path {
  position: absolute;
  top: calc(50% - 1rem);
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 40rem;
  height: 100vh;
  max-height: 705px;
}

.slide12 .boat-path .boat {
  position: absolute;
  top: 480px;
  left: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slide12 .boat-path .boat img {
  width: 100%;
}

.slide12 .red-bg-box {
  background-color: #fe6153;
  height: 100%;
  width: 80rem;
  margin-left: -36rem;
  position: relative;
  z-index: -1;
}

.slide12 .machine {
  position: absolute;
  bottom: 10rem;
  right: 1rem;
  height: 23rem;
  text-align: right;
  z-index: 2;
}

.slide12 .machine p {
  display: block;
  color: white;
  font-family: 'averta-bold';
  font-size: 2.2rem;
  margin-right: 5rem;
}

.slide13 {
  background-color: #362928;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100vw;
  overflow: hidden;
  z-index: 900;
}

.slide13 .white-bg {
  background-color: #f0f0f0;
  color: #362928;
  height: 100%;
  width: 40rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide13 .white-bg p,
.slide13 .white-bg span {
  color: #362928;
  width: 29rem;
  margin-bottom: 10rem;
}

.slide13 .machine {
  position: absolute;
  bottom: 7.7rem;
  right: -18rem;
  height: 30rem;
}

.slide13 .machine p {
  display: block;
  font-family: 'averta-bold';
  font-size: 2.2rem;
  margin-left: 2rem;
  margin-top: -2.4rem;
}

.slide13 .brown-bg {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1000;
}

.slide13 .content {
  width: 55rem;
}

.slide13 .content p:first-child {
  margin: 4rem 0;
}

.slide13 .btn {
  padding: 3rem 8rem;
  width: 24rem;
}

.slide13 .waves {
  bottom: 5rem;
}
/*# sourceMappingURL=style.css.map */