//colors
$red: #fe6153;
$brown: #362928;
$white: #f0f0f0;

//layers
$layerBack: 0;
$layer100: 100;
$layer200: 200;
$layer300: 300;
$layer400: 400;
$layer500: 500;
$layer600: 600;
$layer700: 700;
$layer800: 800;
$layer900: 900;
$layerFront: 1000;

html {
  font-size: 62.5%;

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  max-height: 100vh;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  color: #ffffff;
  background-color: $red;
  padding: 1.5rem 4rem;
  font-size: 1.3rem;
  font-family: 'averta-bold';
  display: block;
  width: 17rem;
  margin: 4rem 0;
}

img {
  height: 100%;
  width: auto;

  min-height: 100%;
  // min-width: 100%;
}

.sticky {
  position: sticky;
  left: 0;
  top: 0;
}

.fixed {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $layer100;
}

.layer-back {
  z-index: $layerBack;
}

.layer-front {
  z-index: $layerFront;
}

.red {
  color: #fe6153;
}

.brown {
  color: $brown;
}

.hidden {
  display: none;
}

p,
span {
  font-family: 'averta-regular';
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: 3.6rem;
  color: white;
}

h1,
h2 {
  font-family: 'averta-bold';
  font-size: 7rem;
  letter-spacing: 0;
  line-height: 8rem;
}

.hline {
  width: 10rem;
  height: 1px;
  background-color: #ffffff;
  margin-top: 4.1rem;
  margin-bottom: 3.2rem;
}

.font-vh {
  font-size: calc(3rem + 10vh);
}

.waves-wrapper {
  position: absolute;
  min-height: 20rem;
  overflow: hidden;
}

.waves {
  position: absolute;
  z-index: -1;

  img {
    width: 100%;
  }

  &.waves_small {
    width: 30rem;
  }

  &.waves_large {
    min-width: 1440px;
    width: 100%;
  }
}

main {
  display: flex;
  position: relative;
  width: min-content;
}

section {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  z-index: $layer500;
}

.slide-index-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: $layerFront;

  & > .content {
    position: sticky;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    width: 300px;
    background-color: $brown;
    color: white;
    padding: 30px;

    .icon-small {
      width: 20px;
    }

    .icon-big {
      position: absolute;
      bottom: -30px;
      right: 0;
      width: 100px;
      opacity: 0.2;
    }

    p {
      font-size: 1.2rem;
    }

    span {
      font-family: 'averta-semibold';
      font-size: 1.6rem;
      color: $red;
    }

    .slide-num {
      position: absolute;
      top: 1.5rem;
      right: 2rem;
      font-size: 1.2rem;
      opacity: 0.6;
    }

    &.red {
      background-color: $red;
      span {
        color: $brown;
      }
    }
  }
}

.vertical-text-wrapper {
  height: 100%;
  margin-left: 5rem;
  padding: 2rem 0;

  .big-date-wrapper {
    height: 100%;
  }
}

.link-logo-fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 200px;
  height: 60px;
  z-index: $layer900;
  text-align: center;
  cursor: pointer;

  svg {
    width: 60%;
  }
}

header {
  width: 100%;
  min-height: 107px;
  background-color: $brown;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $layerFront;
}

//SLIDES

.home {
  display: flex;
  background-color: $brown;
  min-width: 100vw;
  overflow-x: hidden;
  z-index: $layer900;

  & > .content {
    flex: 1;
    margin-top: auto;
    height: 80vh;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    position: relative;

    & h1 {
      color: $red;
      width: 45.2rem;
    }

    & p {
      flex: 2;
      max-width: 453px;
    }

    .waves {
      top: 52%;
      left: -5rem;
    }
  }

  .waves {
    top: 45%;
    right: -11rem;
  }

  & > .img-wrapper {
    flex: 1;
    align-self: flex-end;
    height: 80vh;
  }

  @keyframes slideRight {
    from {
      transform: translateX(0px);
    }

    33% {
      transform: translateX(0px);
    }

    to {
      transform: translateX(120px);
    }
  }

  .scroll-box-wrapper {
    flex-basis: 90px;

    span {
      display: inline-block;
      font-size: 12px;
      animation: slideRight 1.5s ease-out infinite;
    }

    .scroll-indicator {
      align-self: flex-end;
      position: relative;
      height: 1px;
      width: calc(100% + 30px);
      background-color: #ffffff;

      &:before {
        content: '';
        background-color: #fe6153;
        width: 150px;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.slide1 {
  background-image: url(../img/slide1/Group5_low.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-width: 160vh;
}

.slide2 {
  background-color: #362928;
  display: flex;

  & > .content {
    width: 53.4rem;
    align-self: center;
    margin-bottom: 5rem;
    padding-right: 9rem;

    & p,
    & span {
      font-size: 4rem;
      line-height: 6.2rem;
    }

    & span {
      color: $red;
    }
  }

  & > .img-wrapper {
    align-self: flex-end;
    position: relative;
    padding-right: 10rem;
    height: 70vh;
  }

  .numbers {
    position: absolute;
    bottom: -20px;
    right: 20px;
    z-index: -1;
    width: 30vh;
    height: 100vh;

    & > span {
      color: white;
      transform: rotate(90deg);
      font-size: 9rem;
    }

    & > .numbers_small {
      position: absolute;
      top: 17%;
      right: 50%;
      transform: rotate(-90deg) translate(-25%, 214%);
      // z-index: 2;
    }

    & > .numbers_big {
      opacity: 0.2;
    }
  }

  .waves-wrapper {
    top: 50%;
    left: 0;
    min-width: 44%;
  }
}

.slide3 {
  background-color: white;
  min-width: 100vw;
  display: flex;
  align-items: flex-end;

  & > .content {
    flex: 1;
    height: 80vh;
    padding-left: 35rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;

    & h2 {
      width: 58rem;
    }

    .hline {
      background-color: $brown;
    }

    & p {
      flex: 2;
      max-width: 53rem;
    }
  }

  .map {
    display: inline-block;
    padding-left: 35rem;
    height: 100%;
    width: auto;
    background-color: #ffffff;
  }

  .documents {
    min-width: 100vw;
    height: 100%;
    background-color: #fe6153;
    display: flex;
    align-items: center;

    .article {
      height: 100vh;
      transition: transform 50ms ease-in-out;

      &:not(:first-child) {
        margin-left: -10rem;
      }
    }

    .one {
      height: 40vh;
    }
  }
}

.slide4 {
  min-width: 100vw;
  display: flex;
  background-color: $red;

  & > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30rem;

    p {
      width: 35rem;
    }
  }

  h2 {
    color: #ffffff;
    width: 41rem;
    visibility: hidden;
  }

  .big-date {
    color: #ffffff;
  }

  .logo {
    margin-left: -2.25rem;
  }
}

.slide5 {
  min-width: 100vw;
  display: flex;
  background-color: $brown;
  // background: $brown url(../img/slide5/Smoke-background.png) no-repeat;
  // background-size: cover;

  .video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    // display: none;

    video {
      height: 100%;
      width: 177.77777778vh;
      min-width: 100%;
      opacity: 0.5;
    }
  }

  & > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 65rem;

    p {
      width: 35rem;
    }
  }

  h2 {
    color: $red;
    width: 41rem;
  }

  .logo {
    margin-left: -0.75rem;
  }
}

.slide6 {
  background-color: white;
  min-width: 100vw;
  display: flex;
  align-items: center;

  .logo {
    width: 50rem;
    margin: 0 15rem;
  }

  .img-wrapper {
    height: 100%;
    // max-width: 90rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
  }

  & > .content {
    height: 100%;
    width: 135vh;
    position: relative;
    overflow: hidden;

    .text-wrapper {
      position: absolute;
      top: 35%;
      right: 0;
      width: 44rem;
      padding-right: 5rem;
    }

    span {
      font-size: 10rem;
    }

    .hline {
      background-color: $red;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 4rem;
      line-height: 6rem;
      font-family: 'averta-bold';
    }
  }

  @keyframes rotate360 {
    to {
      transform: rotate(360deg);
    }
  }

  .stars {
    position: absolute;
    top: 50%;
    left: 60rem;
    transform: translate(0, -50%);
    width: 100vh;

    svg {
      animation: rotate360 20s infinite linear;
    }
  }

  .slide-index-box .content {
    margin-left: 800px;
  }
}

.slide7 {
  display: flex;
  background-color: #ffffff;
  z-index: $layer600;

  & > .content {
    height: 80%;
    margin: auto 10rem 0 20rem;

    h2 {
      width: 40rem;
      line-height: 7rem;
    }

    p {
      width: 35rem;
      margin: 3rem 0 6rem 7rem;
    }
  }

  .btn {
    margin-left: 7rem;
  }

  .machines-wrapper {
    font-family: 'averta-regular';
    margin: auto 0 auto 10rem;
    padding-right: 480px;
    background-image: url(https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/machines-bg.png);
    background-repeat: no-repeat;
    background-position: center right;
    // -webkit-transition: background-image 800ms ease-in-out;
    // -moz-transition: background-image 800ms ease-in-out;
    // -o-transition: background-image 800ms ease-in-out;
    transition: background-image 800ms ease-in-out;
  }

  .machines-wrapper.astrolab {
    background-image: url(https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/astrolab-side.png) !important;
  }
  .machines-wrapper.caravel {
    background-image: url(https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/caravel-side.png) !important;
  }
  .machines-wrapper.vela {
    background-image: url(https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/vela-side.png) !important;
  }
  .machines-wrapper.marina {
    background-image: url(https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/marina-side.png) !important;
  }
  .machines-wrapper.quadrant {
    background-image: url(https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/quadrant-side.png) !important;
  }
  .machines-wrapper.compass {
    background-image: url(https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/compass-side.png) !important;
  }

  .machines-selector {
    width: 400px;
    grid-gap: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .machines-selector .machine {
    grid-column: span 4;
    text-align: center;
    padding: 50px 0 40px;
    text-decoration: none;
    outline: none;
    width: 200px;
    overflow: hidden;
  }

  .machines-selector .machine:hover {
    background-color: var(--white);
    box-shadow: 0 30px 30px -15px rgba(255, 94, 80, 0.15);
  }

  .machines-selector .machine .icon {
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // -webkit-transition: background-image 100ms ease-in-out;
    // -moz-transition: background-image 100ms ease-in-out;
    // -o-transition: background-image 100ms ease-in-out;
    transition: background-image 100ms ease-in-out;
  }

  .machines-selector .machine.astrolab .icon {
    background-image: url('./img/slide7/astrolab@2x.png');
  }
  .machines-selector .machine.vela .icon {
    background-image: url('./img/slide7/vela@2x.png');
  }
  .machines-selector .machine.compass .icon {
    background-image: url('./img/slide7/compass@2x.png');
  }
  .machines-selector .machine.quadrant .icon {
    background-image: url('./img/slide7/quadrant@2x.png');
  }
  .machines-selector .machine.caravel .icon {
    background-image: url('./img/slide7/caravel@2x.png');
  }
  .machines-selector .machine.marina .icon {
    background-image: url('./img/slide7/marina@2x.png');
  }

  .machines-selector .machine.astrolab:hover .icon {
    background-image: url('https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/astrolab@2x.png');
  }
  .machines-selector .machine.vela:hover .icon {
    background-image: url('https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/vela@2x.png');
  }
  .machines-selector .machine.compass:hover .icon {
    background-image: url('https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/compass@2x.png');
  }
  .machines-selector .machine.quadrant:hover .icon {
    background-image: url('https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/quadrant@2x.png');
  }
  .machines-selector .machine.caravel:hover .icon {
    background-image: url('https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/caravel@2x.png');
  }
  .machines-selector .machine.marina:hover .icon {
    background-image: url('https://www.fiammaespresso.com/wp-content/themes/fiamma/images/machines/marina@2x.png');
  }

  .machines-selector .machine .name {
    font-size: 22px;
    font-family: var(--bold);
    /* line-height: 34px; */
    color: var(--black);
    margin-top: 18px;
  }

  .machines-selector .machine .version {
    margin-top: 20px;
    color: var(--grey-dark);
    font-size: 13px;
    opacity: 0.5;
  }
}

.slide8 {
  background-color: #f0f0f0;
  display: flex;

  .star-wrapper {
    min-width: 100vw;
  }

  .star {
    align-self: center;
    width: 100vh;
    margin: auto;
    position: relative;
    z-index: 2;
    transform: translate(-135%, 0);
    transition: rotate 150ms;
  }

  .small-star-wrapper {
    width: 40rem;
  }

  .small-star {
    height: 100vh;
    position: absolute;

    &.left {
      left: 0;
      top: 50%;
      transform: translate(-18%, -50%);
    }

    &.right {
      transform: translate(-16%, 0);
    }
  }

  .animation-wrapper {
    height: 100%;
    max-height: 84rem;
    margin: auto 0;
    width: 120rem;
    z-index: +1;
    padding: 0 3rem;
    position: relative;

    & > .row {
      height: 50%;
      position: relative;
      display: flex;
    }

    span {
      font-family: 'averta-bold';
    }
  }

  .top-row {
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;

    span {
      font-size: 40rem;
      line-height: 40rem;
    }

    .img-wrapper {
      transform: translate(0, 10%);
      right: 7rem;
      bottom: 0;
      // z-index: -1;
      transition: all 200ms;
    }
  }

  .bottom-row {
    align-items: flex-end;

    span {
      font-size: 20rem;
      line-height: 20vh;
      margin-bottom: 10vh;
    }

    .img-wrapper {
      transform: translate(0, -10%);
      left: 0;
    }
  }

  .img-wrapper {
    position: absolute;
    top: 0;
    height: auto;
    max-height: 40vh;
    width: 45%;
    transition: trasform 100ms ease-in-out;

    img {
      height: auto;
    }
  }
}

.slide9 {
  background-color: #f0f0f0;
  display: flex;
  min-width: 100vw;
  // padding-left: 30rem;

  & > .content {
    height: 80%;
    margin-top: auto;
  }

  h2 {
    width: 43rem;
  }

  .hline {
    background-color: $brown;
  }

  .spacer {
    width: 10rem;
  }

  .text-wrapper {
    display: flex;

    & > p {
      width: 35rem;
    }
  }

  .big-letters {
    height: 100%;
    width: 280vh;
    p,
    span {
      font-size: 150vh;
      line-height: 90vh;
      font-family: 'averta-bold';
    }
  }
}

.slide10,
.slide11 {
  background-color: $brown;
  display: flex;
  min-width: 100vw;

  .img-wrapper {
    align-self: flex-end;
    height: 80vh;
  }

  .numbers {
    width: 35vh;
    height: 100%;
    position: relative;
    margin-left: 10rem;

    span {
      display: block;
      position: absolute;
      right: 18%;
      top: 25vh;
      transform: rotate(-90deg) translate(0, -50%);
      font-size: 9rem;
    }
  }

  & > .content {
    width: 45rem;
    margin: 14rem 30rem 0 5rem;

    p,
    span {
      font-size: 4rem;
      line-height: 6rem;
    }
  }
}

.slide10 {
  .waves-wrapper {
    top: 50%;
    left: -40%;
    min-width: 80%;
  }
}

.slide11 {
  .waves-wrapper {
    top: 50%;
    left: -20%;
    min-width: 55%;
  }
}

.slide12 {
  background-color: $brown;
  display: flex;

  .img-wrapper {
    height: 100%;
  }

  .cross {
    width: 17vh;
    position: relative;
    z-index: 2;
  }

  .map-wrapper {
    position: relative;
    width: 300rem;
  }

  .map {
    height: 100%;
    width: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .text-content {
    position: absolute;
    left: 40rem;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    max-height: 768px;
    margin: auto 0;

    h2 {
      margin: 18rem 0 5rem 10rem;
      font-size: 8rem;
    }

    & > div {
      position: absolute;
    }

    p {
      display: inline-block;
      line-height: 3.6rem;
    }

    .date {
      position: absolute;
      top: 1rem;
      left: -10rem;
    }

    .year-2002 {
      top: 38%;
      width: 30rem;
    }

    .year-2003 {
      bottom: 24%;
      left: 38%;
      width: 26rem;
    }

    .year-2003-2 {
      bottom: 23%;
      left: 56%;
      width: 26rem;

      .sign {
        position: absolute;
        top: -20rem;
        left: -3rem;
      }
    }

    .year-2013 {
      top: 24%;
      left: 80%;
      width: 26rem;
    }
  }

  .boat-path {
    position: absolute;
    top: -1rem;
    left: 40rem;
    width: 100%;
    height: 100vh;
    max-height: 768px;
    margin: auto 0;
    // z-index: 2;

    svg {
      height: 100%;
      width: calc(100% + 7rem);
    }

    .boat {
      position: absolute;
      top: 83%;
      left: 17%;
    }
  }

  .red-bg-box {
    background-color: $red;
    height: 100%;
    width: 80rem;
    margin-left: -36rem;
    position: relative;
    z-index: -1;
  }

  .machine {
    position: absolute;
    bottom: 10rem;
    right: 1rem;
    height: 23rem;
    text-align: right;
    z-index: 2;

    p {
      display: block;
      color: white;
      font-family: 'averta-bold';
      font-size: 2.2rem;
      margin-right: 5rem;
    }
  }
}

.slide13 {
  background-color: $brown;
  display: flex;
  min-width: 100vw;
  overflow: hidden;
  z-index: $layer900;

  .white-bg {
    background-color: $white;
    color: $brown;
    height: 100%;
    width: 40rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    p,
    span {
      color: $brown;
      width: 29rem;
      margin-bottom: 10rem;
    }
  }

  .machine {
    position: absolute;
    bottom: 7.7rem;
    right: -18rem;
    height: 30rem;

    p {
      display: block;
      font-family: 'averta-bold';
      font-size: 2.2rem;
      margin-left: 2rem;
      margin-top: -2.4rem;
    }
  }

  .brown-bg {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: $layerFront;
  }

  .content {
    width: 55rem;

    p:first-child {
      margin: 4rem 0;
    }
  }

  .btn {
    padding: 3rem 8rem;
    width: 24rem;
  }

  .waves {
    bottom: 5rem;
  }
}
